.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Asegura que ocupe toda la altura de la ventana */
}

.loading-spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #1677Bd; /* Blue color */
    border-radius: 60%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}