.navbar-essalud {
    background-color: #ffffff;
}

.logo-essalud {
    width: 55px;
    height: auto; /* Mantener la proporción del logo */
}

.logo-divider2 {
    width: 2px;
    height: 50px;
    background-color: #1677Bd;
    margin: 0 10px;
}

.logo-ugas-container {
    background-color: #1677Bd;
    padding: 5px;
}

.logo-ugas {
    width: 55px;
    height: auto; /* Mantener la proporción del logo */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.color-essalud {
    background-color: #1677Bd;
}